body, html, .parallax-image {
	width: 100%;
	height: 100%;
	
	min-height: inherit;
	max-height: 100%;
}

html, section {
	background-color: #292C30;
}

.centering {
	width: 60%;
	
	margin: 0 auto;
	
	font-size: 70pt;
}

a:link {
	text-decoration: none;
}

.pull-right {
	text-align: center;
}


/*    ------------------------------    DEFAULT FLEX PROPERTIES    */

.flex-container {
	display: flex;
}

	.flex-box {
		outline: 2px solid black;
	}



/*    ------------------------------------------    HEADER INFO    */

header, md-sidenav {
	position: fixed;
	left: 0;
	top: 0;
	
	background-color: #85001E;
}

header {
	width: 100%;
	
	z-index: 75;
}

	header .open-menu-button {
		/*outline: 2px solid black;*/
		
		padding: 10px 30px;
		margin: 0;
		
		border-radius: 0;
		
		font-size: 18pt;
	}



/*    ----------------------------------------    PARALLAX INFO    */

.wrapper * {
	position: relative;
}

/*.wrapper {
	background-image: url("http://lorempixel.com/1920/1080/people"); 
}*/

.parallax-image.home-photo {
	background-image: url("http://lorempixel.com/1920/1080/nature");
	background-size: 100% auto;
}



/*    -------------------------------------------    MD-SIDENAV    */

md-sidenav {
	z-index: 100;
}

	md-backdrop.md-sidenav-backdrop {
		position: fixed;
		left: 0;
		top: 0;
		
		z-index: 99;
	}
	
	md-sidenav a:link {
		color: inherit;
	}


		
		/*    ------------------------------------    MAIN MENU    */
		
		.main-menu-button {
			width: 100%;
			margin: 0;
			
			
			padding: 8px 20px;
			border-radius: 0;
			
			font-size: 14pt;
			
			text-align: left;
		}
		
		


/*    -------------------------------------------     HOME VIEW    */

.home-parallax {
	height: 70%;
}


/*    -------------------------------------------    LOGIN VIEW    */

.login-container {
	position: absolute;
	
	height: 100%;
	width: 100%;
	
	justify-content: space-around;
	
	align-items: center; 
}

	.login-box {
		padding: 25px 22px;
		
		background-color: white;
		
		width: 500px;
		
		height: 300px;
		
		border-radius: 8px;
	}
		
		md-input-container {
			font-size: 16pt;
		}
		
	.login-box > form > .pull-right {
		margin: 18px 0;
	}


/*    ---------------------------------     BEGIN MEDIA QUERIES    */
	
	
@media (max-width: 1000px) {
	.small-screen-closed {
		display: none;
	}
	
	.open-menu-button {
		font-size: 70pt;
		/*background-color: blue;*/
	}
}