body, html, ng-view, .view-container, .parallax-container, .parallax-content {
	width: 100%;
	height: 100%;
}

html, div {
	background-color: #292C30;
}

/*    ---------------------------------------    PARALLAX INFO    */

.parallax-container {
	background-image: url("http://lorempixel.com/1920/1080/people"); 
}

.parallax-content {
	background-image: url("http://lorempixel.com/1920/1080");
	background-size: 100%;
}