body, html, .parallax-image {
	width: 100%;
	height: 100%;
	
	min-height: inherit;
	max-height: 100%;
}

html, body, section, ng-view, view-container {
	background-color: #292C30;
}

.centering {
	width: 80%;
	
	margin: 0 auto;
}

.centered {
	text-align: center;
}

a:link, .dummy-link {
	text-decoration: none;
	color: #348ADE;
}

a:visited {
	color: #348ADE;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.pull-right {
	text-align: center;
}

.md-fab {
	background-color: rgba(158,158,158,0.0);
}

form {
	position: relative;
}

.large-screen-closed {
	display: none;
}


/*    ------------------------------    DEFAULT FLEX PROPERTIES    */

.flex-container {
	display: flex;
}

	.flex-box {
		outline: 2px solid black;
	}



/*    ------------------------------------------    HEADER INFO    */

header, md-sidenav {
	position: fixed;
	left: 0;
	top: 0;
	
	background-color: #85001E;
}

header {
	width: 100%;
	
	z-index: 75;
}

	header .open-menu-button {
		position: relative;
		z-index: 90;
		
		padding: 10px 30px;
		margin: 0;
		
		border-radius: 0;
		
		font-size: 18pt;
	}



/*    ----------------------------------------    PARALLAX INFO    */

.wrapper * {
	position: relative;
}

/*.wrapper {
	background-image: url("http://lorempixel.com/1920/1080/people"); 
}*/

.parallax-image {
	background-size: 100% auto;
}



/*    -------------------------------------------    MD-SIDENAV    */

md-sidenav {
	z-index: 100;
}

	md-backdrop.md-sidenav-backdrop {
		position: fixed;
		left: 0;
		top: 0;
		
		z-index: 99;
	}
	
	md-sidenav a:link {
		color: inherit;
	}


		
		/*    ------------------------------------    MAIN MENU    */
		
		.main-menu-button {
			width: 100%;
			margin: 0;
			
			
			padding: 8px 20px;
			border-radius: 0;
			
			font-size: 14pt;
			
			text-align: left;
		}
		

/*    ----------------------------------------    VIEW DEFAULTS    */

.page-title {
	margin: 5px auto;
	padding: 10px;
	
	width: 500px;
	
	font-size: 18pt;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
}

		.page-title:hover {
			background-color: rgba(255, 255, 255, .4);
			box-shadow: 0 0 5px white;
			
			border-radius: 5px;
		}

	.title-container {
		height: 1px;
		width: 100%;
		
		position: fixed;
		top: 0;
		
		z-index: 78;
		
		/*overflow: visible;*/
	}
	
.view-container {
	height: 90%;
	width: 100%;
	
	overflow: auto;
	
	padding-top: 56px;
}


/*    -------------------------------------------     HOME VIEW    */

.home-parallax {
	
	background-image: url("http://lorempixel.com/1920/1080/nature");
	
	height: 70%;
}


/*    -----------------------------------------    GALLERY VIEW    */

.gallery-welcome {
	color: white;
}

#input_0 button {
	outline: 2px solid black;
}

.big-black-square {
	width: 300px;
	height: 300px;
	
	background-color: black;
}


/*    --------------------------------------    CONTACT ME VIEW    */

.contact-me-parallax {
	height: 500px;
}

	.contact-me-image {
		background-image: url("../Assets/office-620822_1920.jpg");
	}
	

/*    -----------------------------------------    ACCOUNT VIEW    */

.account-settings-container {
	width: 100%;
	height: 100%;
	
	position: relative;
	
	/*flex-direction: column;*/
}

	.settings-tabs {
		background-color: white;
	}
	
		.settings-tab {
			margin: 0;
			
			padding: 6px 14px; 
			
			border-radius: 0;
			border-bottom: 8px solid white;
			/*width: 25%;*/
			
			font-weight: bolder;
			
			transition: all linear .2s;
		}
		
		.settings-tab:hover {
			border-bottom-color: rgba(158,158,158,0.0);
		}
		
		.selected-tab {
			border-bottom: 8px solid #37ABA0;
		}
		
		.selected-tab:hover {
			border-bottom: 8px solid #37ABA0;
		}
	
	.tab-intro {
		width: 75%;
		max-width: 1000px;
		margin: 20px auto;
		
		font-size: 14pt;
		color: white;
	}


/*    -------------------------------------------    LOGIN VIEW    */

.login-container, .registration-container {
	position: absolute;
	
	height: 100%;
	width: 100%;
	
	justify-content: space-around;
	
	align-items: center; 
}

	.login-box, .registration-box {
		padding: 25px 22px;
		
		background-color: white;
		
		width: 500px;
		
		border-radius: 8px;
	}
	
	.login-box {
		
		height: 300px;
		
	}
	
	.registration-box {
		position: relative;
		
		top: 75px;
		
		margin: 100px 0;
		
		height: 700px;
	}
		
		md-input-container {
			font-size: 16pt;
		}
		
	.login-box > form > .pull-right {
		margin: 18px 0;
	}


/*    -----------------------------------------------    FOOTER    */

footer {
	color: white;
}


/*    -----------------------------    PUBLIC PROFILE DIRECTIVE    */

.profile-view, .edit-profile-view {
	width: 80%;
	max-width: 1000px;
	
	font-size: 14pt;
	
	margin: 20px auto;
	
	background-color: rgba(255, 255, 255, .9);
	
	border-radius: 5px;
	
	overflow: hidden;
	
	/*position: relative;*/
}
	
	.profile-view > div, .edit-profile-view > div {
		padding: 20px;
		
		position: relative;
	}
		
		.avatar-large {
			height: 150px;
			width: 150px;
			
			margin: 0 auto;
		
			box-shadow: 0 0 5px rgb(175,175,175), 2px 2px 5px rgb(100, 100, 100);
		}
		
		.username-profile {
			background-color: #B99429;
			
			font-size: 24pt;
			
			margin: 0;
			padding: 20px;
			
			border-bottom-left-radius: 5px;
			
			position: absolute;
			left: 0;
			top: 0;
			
			width: 100%;
		}
		
		.public-profile-info, .edit-profile-info {
			margin-top: 65px;
		}
		
		
/*   ----------------------------------   EDIT PROFILE DIRECTIVE   */

.edit-profile-info > div {
	margin: .5em 0;
	padding: .5em 10px;
	
	
}

	.edit-profile-info > div[ng-repeat] {
		padding: .5em 10px;
	}
	
	.to-edit {
		transition: all linear .2s;
	}
	
	.to-edit:hover {
		background-color: rgba(158,158,158,0.3);
		
		cursor: pointer;
		
		border-radius: 3px;
		
	}
		
		.remove-selection {
			/*background-color: rgba(158,158,158,0.0);*/
			min-width: auto;
			min-height: auto;
			width: 20px;
			height: 20px;
			
			margin: 0;
			
			border-radius: 10px;
			
			font-size: 8pt;
			font-weight: bold;
			line-height: 8pt;
		}
		
		.remove-selection:hover {
			background-color: #B51514 !important;
			
			/*outline: */
		}
		
		.edit-submit-button {
			position: absolute;
			
			right: 0;
			top: 12px;
		}
		
		.cancel-link {
			display: inline-block;
			position: absolute;
			right: 25px;
			top: 65px;
			
			font-size: 10pt;
		}


/*    ---------------------------------     BEGIN MEDIA QUERIES    */
	
@media (max-width: 959px) {
	.small-screen-closed {
		display: none;
	}
	
	.open-menu-button {
		font-size: 70pt;
		/*background-color: blue;*/
	}
	
	.avatar-large {
		width: 50%;
		height: auto;
	}
	
	.username-profile {
		
		
		border-bottom-left-radius: 0;
	}
	
	.large-screen-closed {
		display: block;
	}
}