<div class="view-container">
	<div class="title-container">
		<div class="page-title">Gallery</div>
	</div>
	
	<section class="gallery-welcome">
		<p>
			<span class="bold">Welcome</span> to Samuel Skeen Development and Design's gallery!  Here I will post some of my work over time and so that you can get a feel for what I'm able to do.  It's separated into two different categories:  Web Development (where I post my public Git repos of things I've done) and Blender Projects (Where I'll post some of the artwork I'm currently working on).  Go ahead and poke around!  If you have questions, feel free to <a href="#/contact-me">contact me</a>.
		</p>
		</section>
</div>