<!DOCTYPE html>
	<html lang="en" ng-app="MainApp">
		<head>
			<meta charset="UTF-8">
			<title>Samuel Skeen Development and Design</title>
			
			<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
			<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
			<link rel="stylesheet" href="css/main-styles.css">
		</head>
		
		<body ng-controller="MainController as mc">
			<header>
				<md-button class="open-menu-button" ng-click="mc.openMainMenu()" aria-label="Open Main Menu">
					<span class="fa fa-bars"></span> <span class="small-screen-closed">Main Menu</span>
				</md-button>
				
			</header>
			
			<md-sidenav md-is-open="mc.isMainOpen">
				<div class="main-menu">
					<nav aria-label="Home Page">
						<a href="#/home">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">Home</md-button>
						</a>
					</nav>
					
					<nav aria-label="Home Page">
						<a href="#/about-me">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">About Me</md-button>
						</a>
					</nav>
					
					<nav aria-label="Gallery">
						<a href="#/gallery">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">Gallery</md-button>
						</a>
					</nav>
					
					<nav aria-label="Contact Us">
						<a href="#/contact-me">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">Contact Me</md-button>
						</a>
					</nav>
					
					<nav aria-label="Account" ng-show="mc.getLoggedIn()">
						<a href="#/account">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">Account</md-button>
						</a>
					</nav>
					
					<nav aria-label="Quick Links" ng-show="mc.getLoggedIn()">
						<a href="#/quick-links">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">Quick Links</md-button>
						</a>
					</nav>
					
					<nav aria-label="Admin" ng-show="mc.getAdmin()">
						<a href="#/admin">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">Admin</md-button>
						</a>
					</nav>
					
					<nav aria-label="Login" ng-show="!mc.getLoggedIn()">
						<a href="#/login">
							<md-button ng-click="mc.closeMainMenu()" class="main-menu-button">Login</md-button>
						</a>
					</nav>
					
					<nav aria-label="Logout" ng-show="mc.getLoggedIn()">
						<a href="javascript:void(0)">
							<md-button ng-click="mc.logout()" class="main-menu-button">Logout</md-button>
						</a>
					</nav>
				</div>
			</md-sidenav>
			
			<ng-view></ng-view>
			
			<footer>
				Brought to you by Samuel Skeen Development and Design
			</footer>
			
			<script src="bower_components/angular/angular.min.js"></script>
			<script src="bower_components/angular-route/angular-route.min.js"></script>
			<script src="bower_components/angular-material/angular-material.min.js"></script>
			<script src="bower_components/angular-aria/angular-aria.min.js"></script>
			<script src="bower_components/angular-animate/angular-animate.min.js"></script>
			<script src="bower_components/firebase/firebase.js"></script>
			<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
			<script src="js/angular-perfect-parallax.js"></script>
			<script src="js/app.js"></script>
			<script src="js/maincontroller.js"></script>
			<script src="js/mainservice.js"></script>
			<script src="views/home/home-controller.js"></script>
			<script src="views/gallery/gallery-controller.js"></script>
			<script src="views/about-me/about-me-controller.js"></script>
			<script src="views/contact-me/contact-me-controller.js"></script>
			<script src="views/login/login-controller.js"></script>
			<script src="views/login/auth-service.js"></script>
			<script src="views/registration/registration-controller.js"></script>
			<script src="views/gallery/gallery-edit-controller.js"></script>
			<script src="views/admin/admin-controller.js"></script>
			<script src="views/account/account-controller.js"></script>
			<script src="js/custom-directives/account-settings tabs/pub-profile-definition.js"></script>
		</body>
</html>