<div class="view-container">
	<section class="login-container">
		<div class="page-center">
			<form>
				<md-input-container>
					<label for="vm.email">Email</label>
					<input type="text" ng-model="vm.email">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.password">Password</label>
					<input type="password" ng-model="vm.password">
				</md-input-container>
				
				<p>In order to get an account, you will need to contact the administrator on the <a href="#/contact-me">Contact Me</a> page, which is also a great place to ask any questions you may have.</p>
			</form>
		</div>
	</section>
</div>