<div class="view-container">
	<div class="title-container">
		<div class="page-title">Register</div>
	</div>
	
	<section class="registration-container flex-container">
		<div class="page-center registration-box">
			<form>
				<md-input-container>
					<label for="vm.email">Email</label>
					<input type="text" ng-model="vm.email" required="">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.password">Password</label>
					<input type="password" ng-model="vm.password" required="">
				</md-input-container>
				
				<input type="submit" ng-click="vm.validateForm()" value="Login" class="md-button md-primary md-raised">
				
				<div class="pull-right">
					<a href="#/forgot-password">Forgot password?</a>
				</div>
				
				<p>In order to get an account, you will need to submit a request to the administrator on the <a href="#/contact-me">Contact Me</a> page, which is also a great place to ask any questions you may have.</p>
			</form>
		</div>
	</section>
</div>