<div class="view-container">
	<div class="title-container">
		<div class="page-title">Register</div>
	</div>
	
	<section class="registration-container flex-container">
		<div class="page-center registration-box">
			<form  ng-show="vm.step === 1">
				<md-input-container>
					<label for="vm.email">Email</label>
					<input type="text" ng-model="vm.email" required="">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.password">Password</label>
					<input type="password" ng-model="vm.password" required="">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.confirmPassword">Confirm your password</label>
					<input type="password" ng-model="vm.confirmPassword" required="">
				</md-input-container>
				
				<input type="submit" ng-click="vm.submitNewUser()" value="Submit" class="md-button md-primary md-raised">
			</form>
			
			
			
			<form  ng-show="vm.step === 2">
				<md-input-container>
					<label for="vm.username">Username</label>
					<input type="text" ng-model="vm.username" required="">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.userFirstName">First Name</label>
					<input type="text" ng-model="vm.userFirstName" required="">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.userLastName">Last Name</label>
					<input type="text" ng-model="vm.userLastName" required="">
				</md-input-container>
				
				<input type="submit" ng-click="vm.addNewUserData()" value="Submit" class="md-button md-primary md-raised">
			</form>
			
			
			
			<form  ng-show="vm.step === 3">
				<input type="checkbox" ng-model="vm.optOut_Questions"> Check here if you currently want to opt out of security questions
				
				
				<md-input-container>
					<label for="vm.securityQuestionOne">Security Question 1</label>
					<input type="text" ng-model="vm.securityQuestionOne" ng-required="vm.optOut_questions">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.securityAnswerOne">Answer</label>
					<input type="text" ng-model="vm.securityAnswerOne" ng-required="vm.optOut_questions">
				</md-input-container>
				<hr><!------------------------------------------------------->
				
				<md-input-container>
					<label for="vm.securityQuestionTwo">Security Question 2</label>
					<input type="text" ng-model="vm.securityQuestionTwo">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.securityAnswerTwo">Answer</label>
					<input type="text" ng-model="vm.securityAnswerTwo">
				</md-input-container>
				<hr><!------------------------------------------------------->
				
				<md-input-container>
					<label for="vm.securityQuestionThree">Security Question 3</label>
					<input type="text" ng-model="vm.securityQuestionThree">
				</md-input-container>
				
				<md-input-container>
					<label for="vm.securityAnswerThree">Answer</label>
					<input type="text" ng-model="vm.securityAnswerThree">
				</md-input-container>
				
				<input type="submit" ng-click="vm.addNewUserData()" value="Submit" class="md-button md-primary md-raised">
			</form>
		</div>
	</section>
</div>